### US Trade Analysis
##### Years Covered - 1998 - 2018

In [3]:
###Code Header
## Notebook Name: US Import/Exports Analysis 1998 - 2018
## Version : 1
## Description : An explorative analysis to learn how the US Imports/Exports have varied in the last 20 years
## Data Sources: 
    # 1 : US Trade Data - from USA Trade online hosted by the US Department of Commerce - https://usatrade.census.gov
    # 2 : USD CPI Data - from the Bureau of Labor Statistics website hosted by the United States Department of Labor
## Author(s):
## Edits :
## Changes to be made
## Future Analyses to include

import pandas as pd

In [11]:
#Importing the trade datasets from csv files. Skipping the first two rows which are meta data

# The US Import/Export datasets have been taken from the the USA trade online website hosted by the US Department of Commerce - https://usatrade.census.gov
exports98 = pd.read_csv("../data/US Trade Data/USA Exports - 1998 - 2008.csv", skiprows = 2)
exports09 = pd.read_csv("../data/US Trade Data/USA Exports - 2009 - 2018.csv", skiprows = 2)
imports98 = pd.read_csv("../data/US Trade Data/USA Imports - 1998 - 2008.csv", skiprows = 2)
imports09 = pd.read_csv("../data/US Trade Data/USA Imports - 2009 - 2018.csv", skiprows = 2)

In [138]:
# The Consumer Price Index is the collective price of a bucket of predecided category of goods like fuel, food, air fare, clothing etc, that together give us an idea of the value of money at the time
# The CPI dataset has been taken from the Bureau of Labor Statistics website hosted by the United States Department of Labor - https://data.bls.gov

USD_CPI_data = pd.read_excel("../data/Misc/USD CPI-U.xlsx", skiprows = 11)

In [141]:
# Importing the year to decade mappings, a dataset created manually

year_to_decade = pd.read_excel("../data/Misc/Time Mapping.xlsx")

In [142]:
year_to_decade.head()

   Year Decade
0  1990  1990s
1  1991  1990s
2  1992  1990s
3  1993  1990s
4  1994  1990s

In [41]:
exports98.head()

         Commodity Country  Time Export Value
0  01 Live Animals  Angola  2002       36,638
1  01 Live Animals  Angola  2003       78,085
2  01 Live Animals  Angola  2005       11,578
3  01 Live Animals  Angola  2007       12,400
4  01 Live Animals   Benin  2005        6,720

In [21]:
#Renaming the value columns to more intuitive titles
exports09 = exports09.rename(columns = {'Value ($US)': 'Export Value'})
exports98 = exports98.rename(columns = {'Value ($US)': 'Export Value'})
imports09 = imports09.rename(columns = {'Customs Value (Gen) ($US)': 'Import Value'})
imports98 = imports98.rename(columns = {'Customs Value (Gen) ($US)': 'Import Value'})

In [34]:
#Defining a function to drop a certain column from a dataframe
def col_dropper(df, col):
    return df.drop(columns=col)

#Removing the trash column from the trade datasets
    
imports98 = col_dropper(imports98,'Unnamed: 4')
imports09 = col_dropper(imports09,'Unnamed: 4')
exports98 = col_dropper(exports98,'Unnamed: 4')
exports09 = col_dropper(exports09,'Unnamed: 4')

In [35]:
exports98.head()

         Commodity Country  Time Export Value
0  01 Live Animals  Angola  2002       36,638
1  01 Live Animals  Angola  2003       78,085
2  01 Live Animals  Angola  2005       11,578
3  01 Live Animals  Angola  2007       12,400
4  01 Live Animals   Benin  2005        6,720

In [51]:
USD_CPI_data.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1,HALF2
0,1990,127.4,128.0,128.7,128.9,129.2,129.9,130.4,131.6,132.7,133.5,133.8,133.8,130.7,128.7,132.6
1,1991,134.6,134.8,135.0,135.2,135.6,136.0,136.2,136.6,137.2,137.4,137.8,137.9,136.2,135.2,137.2
2,1992,138.1,138.6,139.3,139.5,139.7,140.2,140.5,140.9,141.3,141.8,142.0,141.9,140.3,139.2,141.4
3,1993,142.6,143.1,143.6,144.0,144.2,144.4,144.4,144.8,145.1,145.7,145.8,145.8,144.5,143.7,145.3
4,1994,146.2,146.7,147.2,147.4,147.5,148.0,148.4,149.0,149.4,149.5,149.7,149.7,148.2,147.2,149.3

In [139]:
# Melting the CPI data and unpivoting the CPI values
USD_CPI_data = USD_CPI_data.melt(id_vars = 'Year', var_name = 'Period', value_name= 'CPI')
USD_CPI_data.head()

   Year Period    CPI
0  1990    Jan  127.4
1  1991    Jan  134.6
2  1992    Jan  138.1
3  1993    Jan  142.6
4  1994    Jan  146.2

In [140]:
# Taking only the annual average CPI value
USD_CPI_data = USD_CPI_data.loc[USD_CPI_data['Period'] == 'Annual']

In [66]:
# Appending the trade datasets together
exports_data = exports09.append(exports98, ignore_index = True)
imports_data = imports09.append(imports98, ignore_index = True)

In [70]:
 # Joining CPI values to exports
exports_data = pd.merge(exports_data, USD_CPI_data.drop(columns = 'Period'), left_on = 'Time', right_on = 'Year', how = 'inner').drop(columns = 'Time')
imports_data = pd.merge(imports_data, USD_CPI_data.drop(columns = 'Period'), left_on = 'Time', right_on = 'Year', how = 'inner').drop(columns = 'Time')

In [123]:
exports_data.head()

         Commodity              Country Export Value  Year      CPI
0  01 Live Animals              Algeria       52,789  2010  218.056
1  01 Live Animals  Congo (Brazzaville)        6,857  2010  218.056
2  01 Live Animals                Egypt    3,995,663  2010  218.056
3  01 Live Animals                Gabon       65,000  2010  218.056
4  01 Live Animals                Ghana    1,266,199  2010  218.056

In [78]:
#checking to see whether the sets of countries and commodities from imports and exports are different
import_countries = set(imports_data.Country)
export_countries = set(exports_data.Country)
import_commodities = set(imports_data.Commodity)
export_commodities = set(exports_data.Commodity)

In [91]:
export_countries.difference(import_countries)

set()

In [87]:

import_countries.difference(export_countries)

set()

##### Possible Learning : Trade is bilateral with every country overall... But may vary each year, since this set is from 20 years of trade. For a more accurate analysis, check whether the country exists in both sets for every year.

In [92]:
export_commodities.difference(import_commodities)

set()

In [88]:

import_commodities.difference(export_commodities)

{'99 Special Import Provisions, Nesoi'}

##### Seems like the categorization of goods for import and export are the same; i.e. there is only one category which is imported but not exported. Learnings may vary if check by each year.

In [133]:
# Concating year to country and commodity to check whether these comparisons will vary when checking by the year

def stringItCountry(row):
    return row.Country + ' ' + str(row.Year)

import_countries_yearly = set(imports_data.apply( stringItCountry,axis = 1))
export_countries_yearly = set(exports_data.apply( stringItCountry,axis = 1))

def stringItCommodity(row):
    return row.Commodity + ' ' + str(row.Year)


import_commodities_yearly = set(imports_data.apply( stringItCommodity,axis = 1))
export_commodities_yearly = set(exports_data.apply( stringItCommodity,axis = 1))

In [134]:
import_countries_yearly.difference(export_countries_yearly)

{'Pitcairn Islands 1998',
 'Pitcairn Islands 2008',
 'Pitcairn Islands 2013',
 'Wallis and Futuna 2001',
 'Western Sahara 2002'}

##### There are a few countries we import from but do not export any goods to in a particular year.

In [135]:
export_countries_yearly.difference(import_countries_yearly)

{'Burma 2004',
 'Burma 2007',
 'Burma 2008',
 'Burma 2010',
 'Burma 2011',
 'Cuba 1998',
 'Cuba 2013',
 'Cuba 2014',
 'Cuba 2015',
 'Cuba 2016',
 'Cuba 2017',
 'French Southern and Antarctic Lands 1999',
 'Heard and McDonald Islands 1999',
 'Heard and McDonald Islands 2002',
 'Heard and McDonald Islands 2009',
 'Iran 2014',
 'Korea, North 1998',
 'Korea, North 2003',
 'Korea, North 2007',
 'Korea, North 2008',
 'Korea, North 2009',
 'Korea, North 2011',
 'Korea, North 2012',
 'Korea, North 2013',
 'Korea, North 2014',
 'Korea, North 2015',
 'Korea, North 2016',
 'Korea, North 2017',
 'Korea, North 2018',
 'Libya 2000',
 'Libya 2001',
 'Libya 2002',
 'Libya 2003',
 'Mayotte 2004',
 'Svalbard, Jan Mayen Island 2003',
 'Svalbard, Jan Mayen Island 2009',
 'Timor-Leste 2000',
 'Timor-Leste 2010',
 'Tuvalu 2002',
 'Wallis and Futuna 1998',
 'Wallis and Futuna 2000',
 'Wallis and Futuna 2002',
 'Western Sahara 2000',
 'Western Sahara 2001',
 'Western Sahara 2004',
 'Western Sahara 2005',
 'Western Sahara 2006',
 'Western Sahara 2009'}

##### There are several countries that we export to, but do not import any goods from in a particular year. This number is higher than the export exclusions.

In [136]:
import_commodities_yearly.difference(export_commodities_yearly)

{'99 Special Import Provisions, Nesoi 1998',
 '99 Special Import Provisions, Nesoi 1999',
 '99 Special Import Provisions, Nesoi 2000',
 '99 Special Import Provisions, Nesoi 2001',
 '99 Special Import Provisions, Nesoi 2002',
 '99 Special Import Provisions, Nesoi 2003',
 '99 Special Import Provisions, Nesoi 2004',
 '99 Special Import Provisions, Nesoi 2005',
 '99 Special Import Provisions, Nesoi 2006',
 '99 Special Import Provisions, Nesoi 2007',
 '99 Special Import Provisions, Nesoi 2008',
 '99 Special Import Provisions, Nesoi 2009',
 '99 Special Import Provisions, Nesoi 2010',
 '99 Special Import Provisions, Nesoi 2011',
 '99 Special Import Provisions, Nesoi 2012',
 '99 Special Import Provisions, Nesoi 2013',
 '99 Special Import Provisions, Nesoi 2014',
 '99 Special Import Provisions, Nesoi 2015',
 '99 Special Import Provisions, Nesoi 2016',
 '99 Special Import Provisions, Nesoi 2017',
 '99 Special Import Provisions, Nesoi 2018'}

In [137]:
export_commodities_yearly.difference(import_commodities_yearly)

set()

##### All categories of goods except one are both imported and exported every year

In [150]:
# Joining with the decade mapping to extract decade for each year
exports_data = pd.merge(exports_data, year_to_decade, left_on = 'Year', right_on = 'Year', how = 'inner')
imports_data = pd.merge(imports_data, year_to_decade, left_on = 'Year', right_on = 'Year', how = 'inner')

In [167]:
# Modifying the commodities columns to remove the prefixed number   ; i.e. '01 Live Animals' to 'Live Animals'
def commodityClean(row):
    return ' '.join(row.Commodity.split(' ')[1:])

exports_data['Commodity'] = exports_data.apply(commodityClean, axis = 1)
imports_data['Commodity'] = imports_data.apply(commodityClean, axis = 1)

In [168]:
exports_data.head()

      Commodity              Country Export Value  Year      CPI Decade
0  Live Animals              Algeria       52,789  2010  218.056  2010s
1  Live Animals  Congo (Brazzaville)        6,857  2010  218.056  2010s
2  Live Animals                Egypt    3,995,663  2010  218.056  2010s
3  Live Animals                Gabon       65,000  2010  218.056  2010s
4  Live Animals                Ghana    1,266,199  2010  218.056  2010s